.btn{
    background-color: #00C89D;
}
.btn:hover{
    color: white;
}

@media (max-width: 768px) {
    .sidebar-container {
        display: none;
    }

    .seta {
        display: none;
    }

    .imagem {
        justify-content: center !important;
    }
}

@media (min-width: 768px) {
    .navnav {
        display: none;
    }
}

.sidebar-container {
    position: fixed;
    width: 6%;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #454545;
    color: #fff;
}

a {
    color: #454545;
}

a:hover {
    color: #00C89D;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    font-size: 2rem;
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    width: 100%;
}

.sidebar-navigation li a {
    padding: 10px 15px 10px 30px;
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
}

.sidebar-navigation li::before {
    background-color: #00C89D;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header {
    font-size: 12px;
    text-transform: uppercase;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}

.collapsible {
    background-color: #454545;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #00C89D;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#tabela {
    height: auto;
    border: 1px solid #000;
    float: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    text-align: left;
}

#descontos {
    color: red;
}

#proventos {
    color: #28B463;
}

.perfil {
    position: relative;
    left: 170px;
}

.voltar {
    position: relative;
    top: -60px;
    width: 0%;
    height: 50%;
}

body {
    background-color: #e7e8ea;
}

.btn {
    background-color: #00C89D;
}

.btn:hover {
    color: white;
}
.icone {
    width: 130px;
}